# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

# DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# --- NL-Neon ---
DATABASE_URL="postgresql://neondb_owner:password@ep-rapid-shape-b1h8o5g5-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:password@ep-rapid-shape-b1h8o5g5.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require&connect_timeout=15"

# --- Neon ---
# DATABASE_URL="postgresql://neondb_owner:<JELSZÓ>@<SAJÁT-VÉGPONT>-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"
# DIRECT_URL="postgresql://neondb_owner:<JELSZÓ>@<SAJÁT-VÉGPONT>.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require&connect_timeout=15"
